.dealFiltersContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 0;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--gem-sys-color--surface);
  z-index: 100;
  transition: box-shadow 0.2s ease-in-out;
}

.dealFiltersContainer.isStuck {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.filterChipsScrollContainer {
  display: flex;
  gap: 8px;
  flex-grow: 1;
  overflow-x: auto;
  scrollbar-width: none;
}

.filterChipsScrollContainer.isScrollable {
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
}

.filterChipsScrollContainer::-webkit-scrollbar {
  display: none;
}
